body {
    min-width: 60%;
    width: 80%;
    margin: auto;
}

.container {
    background-color: rgb(240, 37, 37);
    padding: 2%
}

h1 {
    color: rgb(11, 11, 17);
}

#task {
    padding: 2% 5%;
    border-color: rgb(255, 251, 0);
}

#submit {
    padding: 2% 5%;
    border-color: rgb(161, 9, 195);
    background-color: rgb(70, 6, 75);
    color: white;
}

.ongoing {
    color: rgb(255, 255, 255);
}

.completed {
    text-decoration: line-through;
    color: gray;
}

li{
    display: flexbox;
    width: auto;
    text-align: justify;
}